In [1]:
print("mengistu")

mengistu

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("C:/Users/Alemen/Desktop/blackandbrilliant/dataset/insurance.csv")

In [4]:
data

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [7]:
data.head(5)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [6]:
data.decribe()

AttributeError: 'DataFrame' object has no attribute 'decribe'

In [9]:
data.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [10]:
age = data['age']

In [11]:
age

0       19
1       18
2       28
3       33
4       32
        ..
1333    50
1334    18
1335    18
1336    21
1337    61
Name: age, Length: 1338, dtype: int64

In [23]:
count = 0
list = []
for below in age:
    if (below >= 0):
        count = count + 1
total = 
print(count)

1338

In [45]:
class employee:
    local = 3
    def __init__(self, fname, lname, age):
        self.fname = fname
        self.age = age
    def fullname(self):
        return '{} {}'.format(self.fname,self.lname)
        

emp = employee("mengistu", "abebe", 27)
#emp.fname("abebe")
#emp.age(235)
# we can access the intance varival that is decleared out of the function can be access  class name and object name
# accessing using object name
print(emp.local)
# accessing using class name
print(employee.local)
#display the object dictionary in key:value
print(emp.__dict__)
print(emp.fname)

3
3
{'fname': 'mengistu', 'age': 27}
mengistu